.animeResult__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  justify-content: space-between;
}

.animeResult__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 225px;
  transition: transform 500ms ease;
}

.animeResult__item:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
}

.animeResult__item:hover .anime--title {
  color: #38cdbc;
}

.anime--icon {
  width: 225px;
  height: 325px;
  object-fit: cover;
  margin-bottom: 10px;
}

.anime--title {
  font-size: 24px;
  word-wrap: break-word;
  transition: color 500ms ease;
}
